Form {
  max-width: 400px;
  min-width: 270px;
  width: 95vw;
  padding: 0 2%;
}

.err {
  color: rgb(255, 0, 0);
  font-size: 0.85em;
  height: 40px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  min-width: 260px;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 1em;
  color: #17a2b8;
  text-align: center;
}

@media all and (max-width: 400px) {
  .title {
    font-size: 2.3em;
  }
}

@media all and (max-width: 320px) {
  .title {
    font-size: 2em;
  }
}

@media all and (max-width: 320px) {
  Form {
    padding: 0;
    border: none;
  }
}
